### CLion ###
# CMake
cmake-build-*/
CMakeLists.txt

# IntelliJ
out/
.idea/

# VS Code
.vscode/
tempCodeRunnerFile.cpp

# exe
*.exe

# o
*.o

# valgind
valgrind-*

# linux
main
